.cursosContainer {
  padding: 2rem;
}

.title {
  font-size: 3rem;
}

.cursos {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.cadastrar {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}
